@charset "UTF-8";

body {
    background-color: rgba(54, 54, 240, 0.664);
    font: normal 17px arial,sans-serif;
}
header {
    text-align: center;
    font-size: 1.6em;
}
section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.473);
    padding: 10px;
    width: 85vw;
    margin: auto;
}
footer {
    text-align: center;
    font-style: italic;
}